header {
    text-align: center;
}

nav {
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding-right: 2em;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 5;
}

nav li {
    padding: 0.5em;
    display: inline-block;
}
nav a {
    text-decoration: none;
    display: block;
}
body {
    box-sizing: border-box;
    background-color: #666;
    padding-left: 50px;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #666;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.float {
  float: left;
  margin-top: 70px;
  background-color: #666; 
  border: 3px;
  margin-left: 10px;
  
}
div {
  overflow: auto;
  background-color: #666;
}
p {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  border-color: #3399CC;
  border-spacing: 0;
  margin: auto;
  border: 1px solid #3399CC;
}

td,
th {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ef1111;
  padding: 5px;
  text-align: left;
  
}

tr:first-of-type {
  background-color: #cc3333;
  color: #ffffff;
}

.altrow {
  background-color: #dfedf80f;
}

.secrow {
  background-color: #fff;
}

#gallery {
  position: relative;
}

figure {
  text-align: center;
  padding-top: 220px;
  position: absolute;
  top: 8px;
  left: 550px;
}

#floatleft { 
margin-left: 120px;
margin: 10px;
}

#Text {
background-color: rgb(145, 140, 140)
}

#Founder {
  margin-left: 120px;
  margin: 10px;
  background-color: rgb(145, 140, 140)
}

#gallery a {
  color: #eaeaea;
  text-decoration: none;
  font-style: italic;
}

#gallery span {
  position: absolute;
  left: -1000px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

#gallery a:hover span {
  position: absolute;
  top: 230px;
  left: 320px;
  text-align: center;
  opacity: 1;
}
footer {
  top: 150px;
  font-size: .70em ;
  text-align: center;
  font-style: italic;
  margin-left: 170px;
  }

